/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}

body {
  /*light*/
  --white: hsl(0, 0%, 100%);
  --bg-pattern: hsl(225, 100%, 90%);
  --bg-card: hsl(227, 47%, 96%);
  --bg-card-hover: hsl(225, 16%, 90%);
  --text-black: hsl(230, 17%, 14%);
  --text-semi-black: (228, 12%, 44%);
  --green: hsl(163, 72%, 41%);
  --facebook: hsl(208, 92%, 53%);
  --twitter: hsl(203, 89%, 53%);
  --youTube: hsl(348, 97%, 39%);
  --instagram: linear-gradient(to right,hsl(37, 97%, 70%),hsl(329, 70%, 58%));
}

.active {
  /*dark*/
  --white: hsl(230, 17%, 14%);
  --bg-pattern: hsl(232, 19%, 15%);
  --bg-card: hsl(228, 34%, 20%);
  --bg-card-hover: hsl(228, 28%, 30%);
  --text-black: hsl(0, 0%, 100%);
  --text-semi-black: hsl(228, 34%, 66%);
}



body {
  font-family: "Inter", sans-serif;
  background-color: var(--white);
}
.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 20px;
}

.button {
  display: flax;
  align-items: center;
}

.darkMode {
  margin-right: 10px;
  color: var(--text-semi-black);
  font-size: 12px;
  font-weight: 700;
}

.switch {
  position: relative;
  display: inline-block;
  width: 54px;
  height: 28px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 4px;
  bottom: 4px;
  background-color: var(--bg-pattern);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
    background: linear-gradient(90.43deg,#378fe6 -70.79%, #3eda82 99.63%);
}

input:focus + .slider {
    box-shadow: 0 0 1px #378fe6;
 } 

 input:checked + .slider::before {
   -webkit-transform: translateX(26px);
   -ms-transform: translateX(26px);
   transform: translateX(26px); 
 }



 /*Rounded slider*/
 .slider.round {
     border-radius: 34px;
 }

 .slider.round:before {
     border-radius: 50%;
 }

 /*content*/
 .main {
     display: flex;
     justify-content: space-between;
 }

 .mainTitle li:first-child {
     font-size: 22px;
     font-weight: 700;
     color: var(--text-black);
 }
 .mainTitle li:nth-child(2) {
     font-size: 12px;
     color: var(--text-semi-black);
     margin-top: 8px;
     font-weight: 700;
 }

 .main {
     margin-top: 20px;
 }
 .bg-cinza {
     position: absolute;
     top: 0;
     height: 160px;
     width: 100%;
     background: var (--bg-pattern);
     display: block;
     z-index: -20;
     border-radius: 0px 0px 6px 6px;
 }

 /*cards */
 .wrapCards {
     display: flex;
     padding-top: 30px;
     flex-wrap: wrap;
     justify-content: space-around;
 }

 .card {
     padding: 20px 0px;
     background-color: var(--bg-card);
    border-top: 3px solid currentColor;
    border-radius: 2px;
    margin-bottom: 40px;
    min-width: 220px;
    margin-right:10px;
    cursor: pointer;
    text-align: center;
 }
    .card:hover {
        background-color: var(--bg-card-hover);
    }

    .card1 {
        border-top: 3px solid var(--facebook);
}
.info01 {
    font-size: 10px;
    font-weight: 700;
    color: var(--text-semi-black);
    padding-bottom: 15px;
    text-align: center;
    position: relative;
}

.info01::before {
content:"";
background-image: url(../images/icon-facebook.svg);
background-size: cover;
display: inline-block;
width: 14px;
height: 14px;
position: relative;
margin-right: 5px;
vertical-align: middle;
}

.info02 {
    color: var(--text-black);
    font-size: 42px;
    font-weight: 700;
    text-align: center;
}

.info03 {
    color: var(--text-semi-black);
    letter-spacing: 4px;
    font-size: 10px;
    text-transform: uppercase;
    text-align: center;
    padding-top: 5px;
}

.info04 {
    color: var (--green);
    text-align: center;
    margin-top:15px;
    font-size: 10px;
    font-weight: bold;
    position: relative;
}

.info04:before {
    content: "";
    background-image: url(../images/icon-up.svg);
    background-size: contain;
    display: inline-block;
    width: 8px;
    height: 4px;
    position: relative;
    margin-right: 8px;
    vertical-align: middle;
}

/*card2*/
.card2 {
  border-top: 3px solid var(--twitter);
}

.card2 .info01::before {
    content:"";
    background-image: url(../images/icon-twitter.svg);
background-size: cover;
}

/*card3*/
.card3 .info01::before{
    background-image: url(../images/icon-instagram.svg);
    margin-left: 10px;
}
.card3 {
  border-top: 3px solid;
  border-image-source: var(--instagram);
  border-image-slice: 1;
}

.card3 .info04:before{
    margin-left: 10px;
}

/*card4*/
.card4 .info01::before {
    background-image: url(../images/icon-youtube.svg);
    margin-left:10px;
}
.card4 {
    border-top: 3px solid var(--youTube);
}

.card4 .info04::before {
  background-image: url(../images/icon-down.svg);
}

.attribution {
  margin-top:40px;
  font-size: 11px;
  text-align: center;
  color: car(--text-black);
  opacity: 60%;
}
.attribution a {
  color: var(--text-semi-black);
}
/*mini.cards*/

.container h2 {
  font-size: 18px;
  font-weight: bold;
  color: var(--text-semi-black);
}
.miniCards {
  display: flex;
  padding-top: 30px;
  flex-wrap: wrap;
  justify-content: space-around;
}

.miniCard {
  background: var(--bg-card);
  min-width: 220px;
  padding: 20px 0 10px 0;
  border-radius: 6px;
  position: relative;
  margin-bottom: 20px;
  cursor: pointer;
  margin-right: 10px;
}

.miniCard:hover {
  background-color: var(--bg-card-hover);
};

.miniCard li {
  margin-left:20px;
  color: var(--text-black);
}
.infomini01 {
  font-size: 12px;
  margin-bottom: 20px;
}


.infomini02 {
  font-weight: 700;
  font-size: 28px;
  margin-bottom: 10px;
}
.infomini01 {
  position: relative;
 }

.infomini01::after {
content: "";
background-image:url(../images/icon-fa);
background-size: cover;
display: inline-block;
width: 16px;
position: absolute;
right: 25px;
}
.wrap {
  display:flex;
}
.percent::before {
  content: "";
  font-size: 12px;
  color: var(--verde);
  background-image: url(./././../../../../);
  display: inline-block;
  width: 8px;
  height: 4px;
  margin-right: 5px;
  margin-bottom: 1px;
}

.miniCard2 .percent::before {
  background-image: url(../images/icon-down.svg)
}

.miniCard2 .percent {
  color: var(--youTube);
}
.miniCard2 .infomini01::after {
  background-image: url(../images/icon-instagram.svg);
}
.miniCard3 .infomini01::after {
  background-image: url(../images/icon-instagram.svg);
}
.miniCard4 .infomini01::after {
  background-image: url(../images/icon-twitter.svg);
}
.miniCard5 .infomini01::after ,
.miniCard6 .infomini01::after {
  background-image: url(../images/icon-twitter.svg);
}
.miniCard7 .infomini01::before ,
.miniCard8 .infomini01::before {
  background-image: url(../images/icon-down.svg);
}

.miniCard7 .percent::before,
.miniCard8 .percent::before {
  background-image: url(../images/icon-down.svg);
}

.miniCard7 .percent,
.miniCard8 .percent {
  color: var(--youTube);
}

@media (max-width:466px) {
  .mainTitle {
    min-width: 259px;
    color: blue;
    display: block;
    white-space: nowrap;
  margin-bottom: 20px;
 }

 .wrapCards {
   display: flex;
   padding-top: 30px;
   flex-wrap: wrap;
   align-items: center;
   flex-direction: column;
 }
 .button {
   border-top: 1px solid rgba(2,0,0,0.1);
   padding-top: 20px;
   justify-content: space-between;
 }
 .main {
   flex-direction: column;
 }
 .bg-cinza {
   height: 190px !important;
 }
}